<main class="p-5">

	<div class="card p-5">
		<p id="test">
			Hello world!
		</p>
		<p id="test">
			Hello world!
		</p>
		<p id="test">
			Hello world!
		</p>
		<p hidden id="test">
			Привет мир!
		</p>
		<span class="test">test</span>
	</div>

	<pre>	Test Test</pre>

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<div style="margin: 50px 0 50px 100px; background: gray">
		<span>Inline</span>
		<span>Inline</span>
		<span>Inline</span>

		<span class="block">Inline-block</span>
	</div>

	<div>Block</div>


</main>