{{!-- ===Селектори 1 частина=== --}}
{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="button">Купити</button>

    <p>This is text</p>
</div> --}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}

    {{!-- ===Селектори 2 частина=== --}}

    {{!-- <div class="card p-5 m-5 card-dark">
        <ul>
            <li class="item">1</li>
            <li class="item">2</li>
            <li class="item">3</li>
            <li class="item">4</li>
        </ul>
    </div> --}}
    {{!-- ======================================= --}}

    {{!-- ===Селектори 2 частина=== --}}

    {{!-- <div class="card p-5 m-5 card-dark">
        <input class="input-dark" required>
        <input class="input-dark" type="number">
    </div>

    <div class="card p-5 m-5 card-dark">
        <img alt="image small card 200px" class="small-img" src="https://picsum.photos/200/300" height="200" />

        <a href="https://picsum.photos/200/300" rel="external">Link</a>
        <br>
        <button class="btn">Click me</button>
        <br>
        <a class="btn btn-secondary" href="https://picsum.photos/200/300">Click me</a>
    </div>

    <div class="card p-5 m-5 card-dark">
        <p class="big-text"> This is text about info big test info This is text about info big test info This is text
            about info big test info</p>

    </div> --}}

    {{!-- ===Селектори 4 частина=== --}}

    <div lang="fr" class="card p-5 m-5 card-dark">
        <a class="link col-1" href="https://habr.com/ru/articles/119090/">Click me</a>
    </div>

    <div lang="en" id="test" class="card p-5 m-5 card-dark">
        <input>
        <span>Hello world!</span>
    </div>

    <div class="p-5 m-5 card-dark">
        <button>Test button</button>
        <button disabled>Disabled button</button>
    </div>

    <div class="p-5 m-5 card-dark">
        <input class="inp" disabled>

        <div class="mt-5">
            <div>
                <input type="checkbox" checked>
                <span>First checkbox</span>
            </div>
            <div>
                <input type="checkbox">
                <span>Second checkbox</span>
            </div>

        </div>
    </div>

    <div class="p-5 m-5 card-dark">
        <div>
            <input type="email" required class="valid" placeholder="Test">
            <span>Test text</span>
        </div>

        <div class="mt-5">
            <input type="number" min="10" max="20" required class="number">
        </div>
    </div>