.card {
  color: rgb(0, 178, 9);
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 0.5px blue;
}

p:hover {
  -webkit-text-fill-color: rgb(13, 255, 0);
  -webkit-text-stroke: 0.5px rgb(255, 0, 208);

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  /* writing-mode: vertical-lr; */
  text-align: right;

  letter-spacing: 0.5em;
}

span {
  text-transform: uppercase;
  text-decoration: underline dotted red;
}

span:hover {
  text-decoration-line: line-through;
  text-decoration-style: double;
}

pre {
  tab-size: 8;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  font-weight: 900;

  font-style: italic;

  font-display: swap;
}

span {
  font-size: small;

  font-weight: lighter;

  /* font-style: oblique; */
}

.test {
  display: none;
}

.block {
  display: block;
  background: rgb(201, 201, 201);

  margin: auto;

  /* margin-left: 50px; */

  width: fit-content;
}
