:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;
  --size-xb: 56px;

  --color-border: #d3dee9;
  --color-primary: rgb(46, 46, 255);
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-gray: #6c757d;

  --border-radius-d: 12px;
  --border-radius-s: 4px;

  --weight-title: 600;
  --weight-text: 400;

  --page-width: 1000px;
}

/* ========================= */

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;

  /* padding-top: 74px; */
}

/* ========================== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;

  position: sticky;

  max-width: var(--page-width);
  width: 100%;

  top: 0;
  /* left: calc(50% - var(--page-width) / 2); */

  background-color: var(--color-white);

  z-index: 1;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);

  width: 24px;
  height: 24px;

  border-radius: calc(var(--border-radius-d) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;

  line-height: 100%;

  transition-property: color;
  transition-duration: 1s;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;

  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;

  font-weight: var(--weight-text);
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-title);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
}

/* ===== info ===== */
.info {
  max-width: 650px;
  width: 100%;

  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l);
}

.info_title {
  font-size: var(--size-xb);
  color: var(--color-title);
  font-weight: 700px;
  line-height: 120%;
}

.info_text {
  font-size: var(--size-l);
  color: var(--color-title);
  line-height: 36px;
  width: 412px;
}
/* ===== info ===== */

/* ===== form ===== */

.form {
  max-width: 350px;
  width: 100%;

  background-color: #f8f9fa;
  border-radius: var(--border-radius-s);
  border: 1px solid #dee2e6;

  padding: 60px 48px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_title {
  text-align: center;
  font-size: var(--size-b);
  font-weight: var(--weight-text);
  color: var(--color-title);
}

.form_info {
  text-align: center;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-gray);
}

.form_button {
  text-align: center;
  padding: 12px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: calc(var(--border-radius-d) / 3);

  transition: opacity 0.5s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.form_border {
  padding: 0;
  border-bottom: 1px solid var(--color-title);
}

.form_input_list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
}

.form_input {
  padding: var(--space-xm);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
  background-color: var(--color-white);
}

.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-d);
}

.form_checkbox {
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.form_checkbox > input {
  display: none;
}

.form_checkbox > input ~ div {
  border: 1px solid #767676;
  border-radius: 4px;
  height: 13px;
  width: 13px;
}

.form_checkbox > input:checked ~ div {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.form_checkbox > label {
  color: var(--color-title);
  font-size: var(--size-d);
  cursor: pointer;
}
/* ===== form ===== */

/* ===== updates ===== */

.updates {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l);

  border-radius: var(--border-radius-s);
  background-color: var(--color-white);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.upd_title {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-border);
  font-size: var(--size-b);
}

.upd_message {
  display: flex;
  gap: var(--size-s);
}

.upd_message:nth-of-type(1) .upd_icon {
  width: 32px;
  height: 32px;
  background-color: #007bff;
  flex-shrink: 0;
}

.upd_message:nth-of-type(2) .upd_icon {
  width: 32px;
  height: 32px;
  background-color: #e83e8c;
  flex-shrink: 0;
}

.upd_message:nth-of-type(3) .upd_icon {
  width: 32px;
  height: 32px;
  background-color: #6f42c1;
  flex-shrink: 0;
}

.upd_nick_des {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  width: 100%;
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}

.upd_nick_des > strong {
  font-size: var(--space-d);
  font-weight: 700;
  line-height: var(--size-m);
  color: var(--color-gray);
}

.upd_nick_des > p {
  color: var(--color-gray);
  line-height: 100%;
}

.upd_link:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}

/* ===== updates ===== */

/* ===== expirience ===== */
.expirience {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  padding: 24px 28px;

  border-radius: var(--border-radius-s);
  background: #f8f9fa;
}

.exp_title {
  color: var(--color-title);
  font-size: 42px;
}

.exp_list {
  display: flex;
  gap: var(--space-l);
}

.exp_list_card {
  display: flex;
  padding: var(--space-xm);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-radius: 12px;
  background: var(--color-title);
}

.exp {
  display: flex;
}

.exp_badge {
  display: inline-flex;
  transform: rotate(30deg);
  padding: 12px 24px;
  width: 90px;
  height: 53px;

  border-radius: 70px;
  background: #ff7347;

  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;

  position: relative;

  bottom: 40px;
  left: 420px;
}

.exp_card_title {
  color: var(--color-white);
  font-size: var(--size-l);
  font-weight: var(--weight-title);
  line-height: 26px;
}

.exp_card_text {
  color: #b1b1b1;
  font-size: var(--size-d);
  line-height: 22px;
}
/* ===== expirience ===== */
