:root {
  --size-s: 14px;
  --size-l: 16px;
  --size-m: 18px;
  --size-b: 32px;

  --line-height-b: 150%;

  --border-radius-s: 4px;
  --border-radius-sm: 10px;
  --border-radius-m: 12px;
  --border-radius-b: 24px;

  --padding-b: 32px;

  --color-accent: #885ffb;
  --color-white: #fff;
  --color-border: #253041;
  --color-text: #9ca3af;

  --weight-title: 700;

  --page-width: 1150px;
}

/* ========================= */

body {
  background: #111827;
  gap: 10px;
}

.page {
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 60px;
}

/* ===== header ===== */

.nav_logo {
  display: flex;
  padding: 12px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-bottom: 1px solid var(--color-border);
}

.logo {
  color: var(--color-white);
  font-size: var(--size-s);
  font-weight: var(--weight-title);

  padding: 8px 12px;
  align-items: flex-start;

  border-radius: var(--border-radius-sm);
  background: var(--color-accent);

  cursor: pointer;
}

.nav_links {
  display: flex;
  gap: 24px;
}

.nav_link {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--size-l);
}

.nav_link:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.ad_user {
  display: flex;
  padding-top: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: var(--color-white);
}

.ad_block {
  display: flex;
}

.ad {
  font-size: 14px;
  font-weight: 700;

  height: var(--size-m);
  color: var(--color-accent);

  padding: 2px 6px;

  background: rgba(136, 95, 251, 0.2);
  border-radius: 4px;
  margin-right: 6px;

  cursor: pointer;
}

.ad_link {
  text-decoration: none;
  color: var(--color-white);
}

.ad_link:hover {
  opacity: 0.7;
  transition: 0.7s;
}
/* ===== header ===== */

/* ===== footer ===== */
.footer {
  display: flex;
  justify-content: space-between;

  padding: 16px 0px 32px 0px;

  border-top: 1px solid var(--color-border);
}

.footer_links {
  display: flex;
  gap: 16px;
}

.footer_link {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--size-l);
}

.footer_link:hover {
  opacity: 0.7;
  transition: 0.7s;
}

.footer_copy {
  color: var(--color-text);
  font-size: 16px;
  line-height: 100%;
}
/* ===== footer ===== */

/* ===== hero ===== */
.hero {
  display: flex;
  flex-direction: column;
  padding: var(--padding-b);
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;

  border-radius: var(--border-radius-b);

  background: radial-gradient(
    632.95% 141.42% at 100% 100%,
    rgba(17, 24, 39, 0) 0%,
    rgba(78, 63, 146, 0.6) 100%
  );
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.hero_title {
  color: var(--color-white);
  text-align: center;
  font-size: 36px;
  font-weight: var(--weight-title);
}

.hero_text {
  color: var(--color-text);
  text-align: center;
  max-width: 600px;
  width: 100%;

  font-size: 16px;
  font-family: Inter;
  line-height: var(--line-height-b);
}

.hero_button {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--size-l);
  font-weight: var(--weight-title);

  display: flex;
  justify-content: center;

  width: 150px;
  background-color: var(--color-accent);
  padding: 12px;

  border-radius: var(--border-radius-m);
}

.hero_button:hover {
  opacity: 0.7;
  transition: 0.7s;
}
/* ===== hero ===== */

/* ===== about ===== */
.about {
  display: flex;
  flex-direction: column;
  padding: var(--padding-b);
  align-items: flex-start;

  gap: var(--size-l);

  border-radius: var(--border-radius-b);
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
}

.about_heading {
  color: var(--color-white);
  font-size: 24px;
  font-weight: var(--weight-title);
}

.about_info {
  color: var(--color-text);
  font-size: 14px;
  line-height: 170%;

  text-align: justify;
}
/* ===== about ===== */

/* ===== articles ===== */

.articles {
  display: flex;
  flex-direction: column;
  gap: var(--size-b);
}

.art_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.art_but_view {
  color: var(--color-white);
  padding: 12px 20px;
  text-decoration: none;

  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-text);
}

.art_but_view:hover {
  background: rgba(245, 245, 245, 0.262);
  transition: 0.7s;
}

.art_title {
  color: var(--color-white);
  font-size: var(--size-b);
  font-weight: var(--weight-title);
}

.art_card_block {
  display: flex;
  justify-content: space-between;
  gap: var(--size-b);
}

.art_card {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: var(--size-l);
}

.art_img {
  border-radius: var(--border-radius-b);
  height: 200;
}

.art_card_title {
  color: var(--color-white);
  font-size: var(--size-m);
  line-height: 100%;
  font-weight: var(--weight-title);
}

.art_text {
  color: var(--color-text);
  font-size: var(--size-s);
  line-height: var(--line-height-b);
}

.art_button {
  color: var(--color-white);
  font-size: var(--size-s);
  font-weight: var(--weight-title);
  text-decoration: none;

  display: flex;
  justify-content: center;
  gap: 8px;

  width: 85px;

  padding: 8px 16px;
  border-radius: var(--border-radius-sm);
  background: var(--color-accent);
}

.art_button:hover {
  opacity: 0.7;
  transition: 0.7s;
}

.art_stick {
  color: var(--color-white);
  font-size: var(--size-l);
  font-weight: var(--weight-title);
  padding: 2px 6px;
  width: 50px;

  border-radius: var(--border-radius-s);
  background: rgba(251, 95, 95, 0.7);

  position: relative;

  bottom: 230px;
  left: 290px;

  cursor: default;
}
/* ===== articles ===== */
